
/* Styling paragraph tag only*/
p{  
    color:black;  
    text-align: center;
    font-size: 25px; 
}

/* When we hover mouse over the span content then it changes background colour */
span:hover
{
    background-color: black ;
}

/* When we hover mouse over the content then it changes its font colour */
p a:hover
{
    color: red;
}

/* Setting some attributes of background image for given id */ 
body
{
    margin: auto;
    background-image: url(images/back.jpg); 
    background-repeat: no-repeat;
    background-size:cover; 
}

/* Setting some attributes of text id */
#text
{
    text-align: center;
    color :ivory;
    padding-top: 220px;
}

/* Used for styling navigation bar */
.horizontal{
    list-style-type :none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:grey;
  }
  
  /* Setting some property of navigation bar items */
  .horizontal a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
  }
  
  /* When you hover over the navigation bar elements it changes its background color */
  .horizontal a:hover {
    background-color:black;
  }

  @media screen and (max-width :800px)
  {
    .horizontal a
    {
      float: none;
      width: 100%;
    }
  }
