
/* Styling paragraph tag only*/
p{  
    color:black;  
    text-align: center;
    font-size: 25px; 
}

/* When we hover mouse over the span content then it changes background colour */
span:hover
{
    background-color: black ;
}

/* When we hover mouse over the content then it changes its font colour */
p a:hover
{
    color: red;
}

/* Setting some attributes of background image for given id */
#backimage
{
    margin: auto;
    background-image: url(images/back.jpg); 
    background-repeat: no-repeat;
    background-size:cover; 
    height: 500px;
    
}

/* Setting some attributes of text id */
#text
{
    text-align: center;
    color: white;
    padding: 160px;
}

/* Setting some attributes of given id */
#left
{
    padding-bottom: 250px;
}

/* Used for styling navigation bar */
ul{
    list-style-type :none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:grey;
  }  

  /* Used for floating navigation bar to left */
  li {
    float: left;
  }
  
  /* Setting some property of navigation bar items */
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
  }
  
  /* When you hover over the navigation bar elements it changes its background color */
  li a:hover {
    background-color:black;
  }
